.form-group{
  padding:0px;
  margin-left: 15px;
  margin-bottom: 15px;

}
html, body {
  height: 100%;
  margin: 0;
}

.registration-container {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
  min-height: 100%; /* Ensure at least full viewport height */
}

#carditem {
  width: 40%;
  margin: 20px auto;
  padding: 15px;
}

.textHead {
  text-align: center;
  padding-top: 20px; /* Use padding instead of margin */
  font-weight: 200;
  text-decoration: underline;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  #carditem {
    width: 80%; /* Adjust the width for smaller screens */
  }

  /* Add more specific styles for smaller screens if needed */
}
